<section class="schedule">
    <div class="row">
        <div class="col span-1-of-2 options-box">
            <h3>Is this a Commercial or Residential building?</h3>
            <form name="types" class="radio-types">
                <div ng-if="vm.radioSelected == ''">
                    <i class="ion-ios-circle-outline" ng-click="vm.selectedRadioButton('Commercial')"> Commercial</i>
                    <i class="ion-ios-circle-outline" ng-click="vm.selectedRadioButton('Residential')"> Residential</i>
                </div>
                <div ng-if="vm.radioSelected == 'Commercial'">
                    <i class="ion-ios-circle-filled" ng-click="vm.selectedRadioButton('Commercial')"> Commercial</i>
                    <i class="ion-ios-circle-outline" ng-click="vm.selectedRadioButton('Residential')"> Residential</i>
                </div>
                <div ng-if="vm.radioSelected == 'Residential'">
                    <i class="ion-ios-circle-outline" ng-click="vm.selectedRadioButton('Commercial')"> Commercial</i>
                    <i class="ion-ios-circle-filled" ng-click="vm.selectedRadioButton('Residential')"> Residential</i>
                </div>
            </form>
            <div ng-show="vm.radioSelected" class="step-2">
                <hr class="hr" />

                <!-- Commerical Rates Section -->
                <div ng-if="vm.radioSelected == 'Commercial'">
                    <h3>Please provide some basic information</h3>
                    <div>
                        <label>
                            <input type="text" ng-model="vm.numberOfDesks" />
                            # of Desks
                        </label>
                    </div>
                    <div >
                        <label>
                            <input type="text" ng-model="vm.numberOfCommBathrooms" />
                            # of Bathrooms
                        </label>
                    </div>
                    <div ng-if="!vm.kitchBreak">
                        <i class="ion-ios-circle-outline" ng-click="vm.toggleKitchBreak(true)"><span>Kitchen / Break room</span></i>
                    </div>
                    <div ng-if="vm.kitchBreak">
                        <i class="ion-ios-checkmark" ng-click="vm.toggleKitchBreak(false)"><span>Kitchen / Break room</span></i>
                    </div>
                    <div ng-if="!vm.reception">
                        <i class="ion-ios-circle-outline" ng-click="vm.toggleReception(true)"><span>Reception Area</span></i>
                    </div>
                    <div ng-if="vm.reception">
                        <i class="ion-ios-checkmark" ng-click="vm.toggleReception(false)"><span>Reception Area</span></i>
                    </div>
                </div>

                <!-- Residential Rates Section -->
                <div ng-if="vm.radioSelected == 'Residential'">
                    <h3>Please provide some basic information</h3>
                    <div>
                        <label>
                            <input type="text" ng-model="vm.numberOfBedrooms" />
                            # of Bedrooms
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="text" ng-model="vm.numberOfResBathrooms" />
                            # of Bathrooms
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="text" ng-model="vm.numberOfAdditionalRooms" />
                            # of Other rooms
                        </label>
                    </div>
                    <div ng-if="!vm.kitchDineLiving">
                        <i class="ion-ios-circle-outline" ng-click="vm.toggleKitchDineLiving(true)"><span>Kitchen / Dining / Living Room</span></i>
                    </div>
                    <div ng-if="vm.kitchDineLiving">
                        <i class="ion-ios-checkmark" ng-click="vm.toggleKitchDineLiving(false)"><span>Kitchen / Dining / Living Room</span></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Quote section -->
        <div ng-if="vm.radioSelected" class="col span-1-of-2 quote-box">
            <h2>Quick Quote</h2>
            <h3>Service Type: {{ vm.radioSelected }}</h3>
            <hr class="hr" />
            <div class="services-block" ng-repeat="service in vm.quote.services">
                <div ng-if="service.quantity > 0" class="row">
                    <div class="col span-1-of-2">
                        {{ service.name }}
                    </div>
                    <div class="col span-1-of-2 align-right">
                        <span>{{ service.quantity }} x {{ service.costOfService | currency:"$" }}</span>
                    </div>
                </div>
            </div>
            <hr class="hr" />
            <div class="row">
                <div class="col span-1-of-2">
                    <strong>Total</strong>
                </div>
                <div class="col span-1-of-2 align-right">
                    <strong ng-if="vm.quote.total == 0">
                        $-.-
                    </strong>
                    <strong ng-if="vm.quote.total !== 0">
                        {{ vm.quote.total | currency:"$"}}
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="col span-2-of-2 estimate">
                    <strong>*&nbsp;&nbsp;This is only an estimate.&nbsp;&nbsp;Actual charges will vary.</strong>
                </div>
            </div>
        </div>
    </div>
</section>
