section.contact div.main-box {
    background-color: rgba(255,255,255,0.75);
    padding: 35px;
    text-align: center;
}

section.contact div.main-box h2,
section.contact div.main-box hr {
    margin-bottom: 25px;
}

section.contact div.div-header {
    position: relative;
    margin-bottom: 30px;
}

section.contact div.div-header::after {
    content: '';
    height: 1px;
    display: block;
    background: #999;
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 15px;
    border-left: 1px solid #999;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #999;
}

section.contact div.div-space {
    margin-bottom: 25px;
}
